<% content_for :title, "WIMB - #{t 'main_title' }" %>
<% content_for :header do %>
  <!-- header -->
  <section class="container">
    <nav class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand">WIMB.in</a>
                <ul class="nav">
                    <li class="active"><%= link_to "#{t 'home'}", root_path %></li>
                    <li> <%= link_to "#{t 'howitworks'}", howitworks_path %> </li>
                    <li> <%= link_to "#{t 'blog'}", "http://blog.wimb.in", target: "_blank" %> </li>
                </ul>
            </div>
        </div>
    </nav>
  </section>
  <!-- /header -->
<% end %>
<% content_for :content do %>
<!-- title -->
  <section class="container">
    <div class="row">
        <header class="highlight span12">
            <h3> <%= t 'homepage.intro_text' %> </h3>               
            <img id="feature-screenshot" src="<%= asset_path 'intro.png' %>" alt="screenshot">           
            <p> <%= t 'homepage.intro_about' %></p>  
            <p><%= link_to "#{t 'homepage.intro_howitworks'}", howitworks_path , class: "big-btn"%></p>   
        </header>        
    </div>   
    <div class="row">
      <div class="offset3 span6">
          <hr class="shadow-line"/>
        </div>
    </div>      
  </section> 
  <!-- /title -->
  <section class="container mobile-button">
    <p>   
      <a href="#"><img src="<%= asset_path 'appstore.png' %>" alt="appstore" /></a>
      <a href="#"><img src="<%= asset_path 'googleplay.png' %>" alt="googleplay"/></a>
    </p>       
  </section>


<% end %>