<% content_for :title, "WIMB - #{t 'search.caption'}" %>
<% content_for :header do %>
  <!-- header -->
  <section class="container">
    <nav class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand">WIMB.in</a>
                <ul class="nav">
                    <li><%= link_to "#{t 'home'}", root_path %></li>
                    <li> <%= link_to "#{t 'howitworks'}", howitworks_path %> </li>
                    <li> <%= link_to "#{t 'blog'}", "http://blog.wimb.in", target: "_blank" %> </li>
                </ul>
            </div>
        </div>
    </nav>
  </section>
  <!-- /header -->
<% end %>
<% content_for :content do %>
	<div class="container">
		<div class="panel" style="margin-left:0px;">
			<div class="panel-heading">
				<div align="center"> <%= t 'search.caption' %> </div>
			</div> 
			<div class="panel-body">
				<div class="search_form"> 
					<%= form_for :search , method: :get, html: {class:"form-inline"} do |f| %>
						<div class="form-group">
							<%= f.text_field :data, placeholder: "#{t 'search.placeholder'}", class:"form-control" %>
						</div>

						<div class="form-group">
							<%= f.submit class: "btn", value: " #{t 'search.submit'}"%>
						</div>
					<% end %>
				</div>

				<% if !@result.nil? %>
					<div class="container">
						<h3> <%= "#{t 'search.found'} #{@result.size}" %> </h3>
						<div class="row">
							<% @result.each do |result| %>
							<a href='<%= "/#{result[:phone_number]}"%>'>
								<div class="col-3" style="width: 100px; height:100px; margin-left:10px;">
									<h6> <%= "#{result[:phone_number]}" %> </h6>
									<span class="glyphicon glyphicon-search"></span>
								</div>
							</a>
							<% end %>
						</div>
					</div>
				<% end %>


			</div>
		</div>
	</div>
<% end %>