<% content_for :title, "WIMB - #{t 'support' }" %>
<% content_for :header do %>
  <!-- header -->
  <section class="container">
    <nav class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand">WIMB.in</a>
                <ul class="nav">
                    <li><%= link_to "#{t 'home'}", root_path %></li>
                    <li> <%= link_to "#{t 'howitworks'}", howitworks_path %> </li>
                    <li> <%= link_to "#{t 'blog'}", "http://blog.wimb.in", target: "_blank" %> </li>
                </ul>
            </div>
        </div>
    </nav>
  </section>
  <!-- /header -->
<% end %>