<% content_for :title, "WIMB - #{t 'terms'}" %>
<% content_for :header do %>
  <!-- header -->
  <section class="container">
    <nav class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand">WIMB.in</a>
                <ul class="nav">
                    <li><%= link_to "#{t 'home'}", root_path %></li>
                    <li> <%= link_to "#{t 'howitworks'}", howitworks_path %> </li>
                    <li> <%= link_to "#{t 'blog'}", "http://blog.wimb.in", target: "_blank" %> </li>
                </ul>
            </div>
        </div>
    </nav>
  </section>
  <!-- /header -->
<% end %>
<% content_for :content do %>
	<div class="container">
		<div class="panel" style="margin-left:0px;">
			<div class="panel-heading">
				<div align="center"> <%= t 'terms' %> </div>
			</div>
			<div class="panel-body">
				<p> Terms </a>
			</div>
		</div>
	</div>
<% end %>
