<% content_for :title, "WIMB - #{t 'howitworks' }" %>
<% content_for :header do %>
  <!-- header -->
  <section class="container">
    <nav class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand">WIMB.in</a>
                <ul class="nav">
                    <li><%= link_to "#{t 'home'}", root_path %></li>
                    <li class="active"> <%= link_to "#{t 'howitworks'}", howitworks_path %> </li>
                    <li> <%= link_to "#{t 'blog'}", "http://blog.wimb.in", target: "_blank" %> </li>
                </ul>
            </div>
        </div>
    </nav>
  </section>
  <!-- /header -->
    <section class="section-box shadow">
    <div class="container">       
        <div class="row">         
            <article class="span12">
                <p>  <%= t 'homepage.intro_details_first' %> <p>
            </article>
            <article class="span12">
                <p>  <%= t 'homepage.intro_details_second' %> <p>
            </article>   
            <article class="span12">
                <div class="alert alert-success center-align">
                  <bold> <%= t 'homepage.intro_ps' %></bold>
                </div>
            </article>                
      </div>
    </div>

    <div class="container">
        <h3 class="center-align"> <%= t 'tutorial.heading' %> </h3>
        <div class="highlight row">     
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">                 
                        <p>
                            <img src="<%= asset_path 'tutorial.png' %>" alt="ipad">                     
                        </p>         
                        <article class="carousel-caption">                                         
                            <h3> <%= t 'tutorial.main_menu_label' %> </h3>
                            <p class="center-align"><%= t 'tutorial.main_menu_first_login_ps.text1' %></p>  
                        </article>                                        
                    </div>
                    <div class="item">      
                        <p>                           
                            <img src="<%= asset_path 'tutorial.png' %>" alt="code">          
                        </p>           
                        <article class="carousel-caption">                  
                            <h3><strong>App</strong> is a powerful and robust text-editor.</h3>       
                            <p class="center-align">Hit it up! It'll be your favorite text-editor!</p>                                                   
                        </article>
                    </div>
                    <div class="item">                  
                        <p>                                           
                            <img src="<%= asset_path 'tutorial.png' %>" alt="folders">          
                        </p>      
                        <article class="carousel-caption">                        
                            <h3 class="quotes">"I designed LandingStrip to be easily editable for everyone."</h3>       
                            <p class="center-align">- Ace Subido.</p>                            
                        </article>
                    </div>
                   
                </div> 
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>           
            </div> 
        </div>
    </div>

  </section>


  <!-- <div class="container">
    <p>  <%= t 'homepage.intro_details_first' %> <p>
    <p>  <%= t 'homepage.intro_details_second' %> <p>
    <div class="alert alert-success">
      <bold> <%= t 'homepage.intro_ps' %></bold>
    </div>
  </div> -->


 <% end %>