<div class="col-12">
	<div class="btn-group btn-group-justified">
		<%= link_to "#{t 'user_navigation_header.statistic'}", user, class: "btn btn-default" %>
		<%= link_to "#{t 'user_navigation_header.transports'}", user_transports_path(user), class: "btn btn-default" %>
		<%= link_to "#{t 'user_navigation_header.settings'}", user_transports_path(user), class: "btn btn-default" %>
	</div>
</div>