<% content_for :title, "WIMB - #{t 'statistic'} #{@user.username}" %>
<% content_for :content do %>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="box-shadow">
					<div class="panel panel-primary" style="margin-left:0px;">
						<div class="panel-heading">
							<div style="text-align:center;"> <%= " #{t 'statistic'} #{@user.username}" %> 
							</div>
						</div>
						<div class="row">
							<table class="table table-striped" >
					  			<tbody>
					  				<tr>
					  					<td  style="text-align: right; width:50%;"> <%= t "most_popular_transport_type"%> </td> <td style="text-align: left;"> <%= t "transports.bus" %> </td>
					  				</tr>
					  				<tr>
					  					<td  style="text-align: right; width:50%;"> <%= t "most_popular_transport_number"%> </td> <td style="text-align: left;"> 21 </td>
					  				</tr>
					  				<tr>
					  					<td  style="text-align: right; width:50%;"> <%= t "broadcasts_count"%> </td> <td style="text-align: left;"> 8 </td>
					  				</tr>
					  				<tr>
					  					<td  style="text-align: right; width:50%;"> <%= t "watchdog_warnings_count"%> </td> <td style="text-align: left;"> 5 </td>
					  				</tr>
					  				<tr>
					  					<td  style="text-align: right; width:50%;">  <%= "#{t 'say_thanks.from_owner'} " %> </td> <td style="text-align: left;"> <%= "#{@user.say_thanks_count} #{t 'say_thanks.humans'}"%> </td>
					  				</tr>
					  				<tr>
					  					<td  style="text-align: right; width:50%;">  <%= "#{t 'say_thanks.from_users'} " %> </td> <td style="text-align: left;"> <%= "#{@user.thanks_count} #{t 'say_thanks.humans'}"%> </td>
					  				</tr>
					  				<tr>
					  					<td  style="text-align: right; width:50%;">  <%= "#{t 'disagre_count.body'} " %> </td> <td style="text-align: left;"> <%= "#{@user.warnings_count} #{t 'disagre_count.end'}"%> </td>
					  				</tr>
							</table>
							<div class="col-12" style="text-align:center;">
								<span class="label label-success"> <%= "#{t 'rating_position.position_local'} (#{@user.city}) #{@user.position_in_top_local} #{t 'rating_position.from'} #{@user_count_local} | #{t 'rank'} #{@user.rank}"%> </span>  
									<%= link_to "#{t 'user_top_in_city'} #{@user.city}", user_top_path(location: @user.city) ,style: "position:absolute; text-align: left; margin-left:4px;" %>
							</div>
							<div class="col-12" style="text-align:center; margin-top:10px;">
								<%= link_to "#{t 'share'}", '#', class: "btn btn-primary" %>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
<% end %>