<% content_for :title, "WIMB - #{@top_title}" %>
<% content_for :content do %>
	<div class="container">
		<div class="panel" style="margin-left:0px;">

			<ul class="nav nav-tabs nav-justified">
				<li class="<%= @local_tab_active %>"><%= link_to "#{ t 'user_top_in_city'} #{@current_city}", user_top_path(location: @current_city)%></li>
				<li class="<%= @world_tab_active %>"><%= link_to "#{ t 'user_top_in_world'}", user_top_path(location: "world"), style:"text-aling:right;"%></li>
			</ul>
			<div class="container">
				<table class="table table-striped table-bordered" >
		  			<tbody>
		  				<tr>
			  				<td  style="text-align: center; width:30%;"> <%= t "position_in_top"%> </td> <td style="text-align: center;"> <%= t 'user' %> </span> </td>
			  			</tr>
		  				<% @users.each_with_index do |user, i|%>
			  				<tr>
			  					<% if params[:location] == "world"%>
								<td  style="text-align: center; width:30%;"> <%= i + 1 %> </td> <td style="text-align: center;"> <%= link_to "#{user.username}", user %>  <span class="label label-info"><%= "#{user.rank} (#{user.city})" %> </td>
								<% else %>
									<td  style="text-align: center; width:30%;"> <%= i + 1 %> </td> <td style="text-align: center;"> <%= link_to "#{user.username}", user %>  <span class="label label-info"><%= user.rank %> </td>
								<% end %> 
			  				</tr>
			  			<% end %>
		  			</tbody>
				</table>
			</div>
		</div>
	</div>
<% end %>