<% content_for :title, "WIMB - #{t 'cities'}" %>
<% content_for :user_front do %>
	<div class="container">
		<div class="panel" style="margin-left:0px;">

			<div class="container">
				<table class="table table-striped table-bordered" >
		  			<tbody>
		  				<tr> 
			  				<td style="text-align: center; width:30%;"> <%= t 'city' %> </td>
			  				<td style="text-align: center;"> <small> <%= t 'users_count' %> </small> </td>
			  				<td style="text-align: center;"> <small> <%= t 'added_transport_count' %> </small> </td>
			  				<td style="text-align: center;"> <small> <%= t 'broadcasts_count' %> </small> </td>
			  				<td style="text-align: center;"> <small> <%= t 'watchdog_warnings_count' %> </small> </td>
			  			</tr>

		  				<% @cities.each do |city|%>
			  				<tr>
								<td  style="text-align: center; width:50%;"> <%= link_to city.caption, city_path(city) %> </td>
								<td  style="text-align: center; width:10%;"> <%= city.users_count %> </td>
								<td  style="text-align: center; width:10%;"> <%= city.transports_count %> </td>
								<td  style="text-align: center; width:10%;"> <%= city.broadcasts_count %> </td>
								<td  style="text-align: center; width:10%;"> <%= city.warnings_count %> </td>
			  				</tr>
			  			<% end %>

		  			</tbody>
				</table>
			</div>
		</div>
	</div>
<% end %>