<% content_for :google_chart_framework do %>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ["<%= t('users_count') + ' ' + @city.users_count.to_s %>", <%= @city.users_count %>],
          ["<%= t('broadcasts_count') + ' ' + @city.broadcasts_count.to_s %>", <%= @city.broadcasts_count %>],
          ["<%= t('watchdog_warnings_count') + ' ' + @city.warnings_count.to_s %>", <%= @city.warnings_count %>],
          ["<%= t('added_transport_count') + ' ' + @city.transports_count.to_s %>", <%= @city.transports_count %>]
        ]);

        // Set chart options
        var options = {pieHole: 0.4,
        				'width':600,
                       'height':600,
                       legend: {position: 'bottom'}
                   	};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
<% end %>
<% content_for :user_front do %>
	<div class="container">
		<h3 class="text-center"> <%="#{ t 'statistic_of_city' } - #{@city.caption}" %> </h3>
		<div id="chart_div"></div>
		<%= link_to "#{t 'back'}", :back %>
	</div>
<% end %>