<% content_for :title, "WIMB - #{t 'reviews'}" %>
<% content_for :content do %>
		<div class="container">
				<h1 class="span12"> <%= "#{t 'reviews'}" %>  </h1>
				<%= form_tag post_review_path do |u|%>
	
					<%= text_field_tag :title, "", placeholder: "Title", class:"span6"%> 

					<%= text_field_tag :email, "", placeholder: "Email", class:"span6"%> 

					<%= text_field_tag :subject, "", placeholder: "Subject", class:"span12"%> 

					<%= text_area_tag :body, "", class:"span12" , rows: 8 %>
					<!-- <%= recaptcha_tags %> -->
				<%= submit_tag "#{t 'send'}", class: "span4 btn btn-success"%>

				<% end %>
		</div>
<% end %>