<% content_for :title, "WIMB - #{t 'reviews'}" %>
<% content_for :content do %>
  <div class="panel" style="width:50%; text-align:center; margin:auto; vertical-align:middle; margin-top:15%; margin-bottom:15%;">
      <div class="panel-body">
    	 <h4 class="posted-notice"> <%= flash[:notice].to_s %> </h4>
      </div>
      <%= link_to "#{t 'link_to_main'}", root_path %>
  </div>

<% end %>