<!-- <div class="container">
 <div class="footer">
  <div class="container footer-element">
    <%= link_to "#{ t 'contacts'}", home_page_contacts_path %> |
     <%= link_to "#{ t 'terms'}", home_page_terms_path %> |
     <%= link_to "#{t 'reviews'}", review_path %> <br />
    <%= link_to "WIMB", root_path %> © <%= Time.now.year %>
  </div>
 </div>
</div> -->


<footer class="container footer-box">   
  <hr class="shadow-line" />         
  <nav class="links">             
      <a href="#">About</a>
      <a href="#">Tour</a>
      <a href="#">Blog</a>
      <a href="#">Terms of Use</a>
      <a href="#">Support</a>                   
  </nav>  
  <nav class="links">
<!--       <a href="#"><img src="<%= asset_path 'twitter-icon.png' %>" alt="twitter"></a>
      <a href="#"><img src="<%= asset_path 'facebook-icon.png' %>" alt="fb"></a>   
      <a href="#"><img src="<%= asset_path 'googleplus-icon.png' %>" alt="gplus"></a>   -->    
      <%= Time.now.year %>
  </nav>                        
</footer>