<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield(:title) %></title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
					window.currentGuest = {
						location: "<%= @current_city %>"
					};

					console.log(window.currentGuest);
  </script>
  <%= yield(:google_chart_framework) %>
</head>
<body>
  <% if yield(:header) != nil %>
    <%= yield(:header) %> 
  <% else %>
  <section class="container">
    <nav class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand">WIMB.in</a>
                <ul class="nav">
                    <li><%= link_to "#{t 'home'}", root_path %></li>
                    <li> <%= link_to "#{t 'howitworks'}", howitworks_path %> </li>
                    <li> <%= link_to "#{t 'blog'}", home_page_blog_path %> </li>
                </ul>
            </div>
        </div>
    </nav>
  </section>
  <% end %>

  
  <%= yield(:content) %>
  

  <footer class="container footer-box">   
      <hr class="shadow-line" />         
      <nav class="links">
          <%= link_to "#{t 'howitworks'}", howitworks_path %>    
          <%= link_to "#{t 'blog'}", "http://blog.wimb.in", target: "_blank" %> 
          <%= link_to "#{t 'terms'}", terms_path %> 
          <%= link_to "#{t 'support'}", support_path %>                              
      </nav>  
      
   <!--        <a href="#"><img src="<%= asset_path 'twitter-icon.png' %>" alt="twitter"></a>
          <a href="www.facebook.com/wimbin"><img src="<%= asset_path 'facebook-icon.png' %>" alt="fb"></a>   
          <a href="#"><img src="<%= asset_path 'googleplus-icon.png' %>" alt="gplus"></a>     -->  
          <%= "#{Time.now.year} WIMB - All rights reserved." %>
                              
  </footer>

  <%= javascript_include_tag "application" %>
</body>
</html>
